<div class="sidebar">
  <div class="container sidebar-sticky">
  
    <!-- ADD THE IMAGE HERE -->
          <div class="sidebar-image" style="text-align: center; margin: 20px 0 30px 0;">
        <img src="/public/sarbagyak.jpeg" alt="Sarbagya Kafle" style="width: 160px; height: auto; border-radius: 10px; object-fit: cover; display: block; margin: 0 auto; box-shadow: none;">
        </div>
    <!-- END OF IMAGE -->
    
    <div class="sidebar-about">
      <h1>
        <a href="{{ '/' | relative-url }}">
          {{ site.title }}
        </a> 
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
     <!-- <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}">Home</a> -->

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

    </nav>

   <button id="theme-toggle" class="theme-toggle">🌙 Dark Mode</button> 
    
    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
